<div class="main-container" id="">
   
    <div>
        {{# isloggedin}}
            <a href="/logout"> <button type="btn" class="logoutClss pull-right" title="logout"></button></a>
        {{/isloggedin}}
    </div>
  	<!-- <span id="createNewSurvey " class=""></span> -->
   
      <!-- <div class="card-columns" style="padding: 45px;margin: 10px;"> -->
        <!-- <div id="analyticsDataHolder"></div> -->
      
  <!-- <div class="card g">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the second card</p>
    </div>
  </div>
  <div class="card ">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the third card</p>
    </div>
  </div>
  <div class="card ">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the fourth card</p>
    </div>
  </div> -->
  <!-- </div> -->
  <!-- <div id="totalUsersRespond"></div> -->
     
    
</div>