
<div id="register">
    <h3 class="text-center text-white pt-5">Admin Register form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="admin-reg-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Admin Register</h3>
                        <div class="form-group">
                            <label for="adminName" class="text-info">Name:</label><br>
                            <input type="text" name="adminName" id="adminName" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="adminUserName" class="text-info">Username:</label><br>
                            <input type="text" name="adminUserName" id="adminUserName" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="adminPassword" class="text-info">Password:</label><br>
                            <input type="adminPassword" name="adminPassword" id="adminPassword" class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <span class="btn btn-info btn-md" id="registerAdmin">Register</span>
                        </div>
                    </form>
                </div>
                <div >
                    <span>Already Registerd?</span>
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
